

<div style="background-color:whitesmoke; height:100vh;">

<MudNavMenu >
    <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Href="/AddTemplate" Icon="@Icons.Material.Filled.AddLink" Match="NavLinkMatch.Prefix">Add Template</MudNavLink>
    @* <MudNavLink Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink> *@
</MudNavMenu>
</div>